*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: gray;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
}
#main{
    width: auto;
}
button{
    display: inline-block;
    background: #f8b627;
    color: #f4f4f4;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding: 10px;
    z-index: 100000;
}
img{
    width: 200px;
}
#myImage{
    width: 200px;
}